

  <div class="panel" id="connect">
    <div class="alignment">
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="cell large-7 small-10 small-offset-1 xxlarge-offset-0">
            <h2 class="heading">Ready to partner?</h2>
            <p class="subheading">Learn more about how our marketing services can drive your business forward.</p>
            <a class="caret-anchor" href="#calendly" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/michael-499/introductory-call-in'});return false;">Let's talk</a>
          </div>
        </div>
      </div>
    </div>
  </div>