<footer class="panel" id="footer">

  <div class="alignment">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xxlarge-12 small-11">
          <nav class="navigation">
            <ul class="no-bullet">
              <li>
                <a href="{{ site.baseurl }}/formula">
                  <span>Approach</span>
                  <small>Our digital marketing formula</small>
                </a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/about">
                  <span>About</span>
                  <small>Who we are</small>
                </a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/contact">
                  <span>Contact</span>
                  <small>Get in touch</small>
                </a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/testimonials">
                  <span>Testimonials</span>
                  <small>What our clients say</small>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <ul class="menu social">
      <li>
        <a href="https://www.linkedin.com/company/mpm-marketing/" target="_new">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 144 144" style="enable-background:new 0 0 144 144;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#676e7d;}
          </style>
          <path class="st0" d="M133.37,0H10.63C4.76,0,0,4.76,0,10.63v122.74C0,139.24,4.76,144,10.63,144h122.74
            c5.87,0,10.63-4.76,10.63-10.63V10.63C144,4.76,139.24,0,133.37,0z M42.92,122.68H21.27V53.9h21.65V122.68z M32.1,44.37
            c-6.89,0-12.48-5.25-12.48-12.43S25.2,19.51,32.1,19.51s12.48,5.25,12.48,12.43S38.99,44.37,32.1,44.37z M122.73,122.73h-21.65
            V85.17c0-11.08-4.71-14.5-10.79-14.5c-6.42,0-12.72,4.83-12.72,14.78v37.29H55.93V53.95h20.82v9.53h0.28
            c2.09-4.23,9.41-11.46,20.58-11.46c12.08,0,25.13,7.17,25.13,28.17V122.73z"/>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCE2PICKyuVsL4hMyjuI49DQ" target="_new">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 176 124" style="enable-background:new 0 0 176 124;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#676e7d;}
            .st1{fill:#FFFFFF;}
          </style>
          <g>
            <path class="st0" d="M172.32,19.36c-2.02-7.62-7.99-13.62-15.56-15.66C143.04,0,88,0,88,0S32.96,0,19.24,3.7
              C11.67,5.74,5.7,11.74,3.68,19.36C0,33.18,0,62,0,62s0,28.82,3.68,42.64c2.02,7.62,7.99,13.62,15.56,15.66C32.96,124,88,124,88,124
              s55.04,0,68.76-3.7c7.57-2.04,13.54-8.04,15.56-15.66C176,90.82,176,62,176,62S176,33.18,172.32,19.36z"/>
            <polygon class="st1" points="70,88.17 70,35.83 116,62   "/>
          </g>
          </svg>
        </a>
      </li>
    </ul>
    <p>2019 &copy; MPM First, LLC</p>
  </div>

</footer>
