<footer class="panel" id="footer">

  <div class="alignment">
    <div class="grid-container">
      <div class="grid">
        <div class="cell">
          <nav class="navigation">
            <ul class="no-bullet">
              <li>
                <a href="{{ site.baseurl }}/formula">
                  <span>Approach</span>
                  <small>Our digital marketing formula</small>
                </a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/about">
                  <span>About</span>
                  <small>Who we are</small>
                </a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/contact">
                  <span>Contact</span>
                  <small>Get in touch</small>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
<!--     <ul class="menu">
      <li><a href="{{ site.baseurl }}/privacy">Privacy</a></li>
      <li><a href="{{ site.baseurl }}/terms">Terms</a></li>
    </ul> -->
    <p>2019 &copy; MPM First, LLC</p>
  </div>

</footer>
