<meta name="keywords" content="med-tech, pharmaceutical, device, marketing, medical, animations, medical device, MedTech marketing, medical animations, website development, web maintenance, graphics, sales tools, LinkedIn marketing, KOL marketing, hospital and clinic marketing, patient marketing"/>
<meta name="description" content="Med-tech & Pharmaceutical Marketing"/>

<!-- facebook -->
<meta property="og:title" content="MPM First">
<meta property="og:description" content="Med-tech & Pharmaceutical Marketing">
<meta property="og:image" content="https://mpmfirst.com/assets/img/facebook-card.gif">
<meta property="og:url" content="https://mpmfirst.com">

<!-- twitter -->
<meta name="twitter:title" content="MPM First">
<meta name="twitter:description" content="Med-tech & Pharmaceutical Marketing">
<meta name="twitter:image" content="https://mpmfirst.com/assets/img/twitter-card.gif">
<meta name="twitter:card" content="summary_large_image">