  <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>
  <script src="https://cdn.plyr.io/3.5.4/plyr.polyfilled.js"></script>
  <!-- <script src="{{ "/assets/js/foundation.min.js" | relative_url }}"></script> -->
  <script src="{{ "/assets/js/scripts.js" | relative_url }}"></script>

  <!-- CALENDLY -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>

  <!-- LINKEDIN -->
  <script type="text/javascript">
    _linkedin_partner_id = "1500369";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script>
  <script type="text/javascript">
    (function(){
      var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";
      b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);
    })();
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1500369&fmt=gif" />
  </noscript>