body {

    @include breakpoint(xlarge down) {
      padding-top: 80px;
    }

}

.panel {
  position: relative;
  min-height: 100vh;

  @include breakpoint(xxlarge up) {
    min-height: 100vh;
    height: auto;
  }

  @include breakpoint(xxlarge down) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  > .alignment {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    @include breakpoint(xlarge down) {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0%);
      // border: 10px dashed blue;
    }
  }
}

#landing {
  margin-top: 20vh;
}

.heading {
  font-size: 2.8em;
  font-weight: bold;
  color: $primary-color;
}

.subheading {
  font-size: 1.5em;
  color: $secondary-color;
  // max-width: 75%;
}

.caret-anchor {
  // clear: left;
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-family: $header-font-family;
  color: $primary-color;
  margin-top: 3em;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    left: 100%;
    margin-left: 8px;
    width: 0; 
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: $color-five;
    @include transform(rotate(45deg));
  }
}

#connect {
  // min-height: 0 !important;
  background-color: $primary-color;

  h2, p {
    color: #fff;
  }

  .caret-anchor {
    color: #fff;
  }
}