#formula {

  #landing {

    img {
      width: 229px;
      max-width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include breakpoint(small) {
        padding-bottom: 4em;
      }
    }
  }

  .stage {

    .heading {
      padding-top: 1em;
    }

  }

  .components {
    margin-top: 2em;

    img {
      margin-bottom: 2em;
    }

    h3 {
      font-size: 1em;
      font-family: $header-font-family;
      font-weight: bold;
      color: $primary-color;
    }

    p {
      color: $secondary-color;
      padding-bottom: 4em;
    }
  } 
}