#home {

  #landing {
    margin-top: 0;

    .menu li {

      @include breakpoint(small only) {
        width: 100%;
      }
    }

    .talk-anchor,
    .video-anchor {
      display: inline-block;
      margin-top: 2rem;
      height: 32px;
      line-height: 32px;
      font-family: $header-font-family;
      vertical-align: middle;

      svg, span {
        display: inline-block;
        float: left;
      }

      span {
        padding-left: 1em;
        font-weight: bold;
        letter-spacing: .06em;
      }
    }

    .talk-anchor {
      margin-left: 0;

      @include breakpoint(medium up) {
        margin-left: 3em;
      }
    }
  }

  #video {
    display: none;
  }

  #work {
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;

    &.panels-1 {
      .slider { width: 100vw; }
    }

    &.panels-2 {
      height: 200vw;
      .slider { width: 200vw; }
    }

    &.panels-3 { 
      height: 300vw;
      .slider { width: 300vw; }
    }

    &.panels-4 { 
      height: 400vw;
      .slider { width: 400vw; }
    }

    &.panels-5 { 
      height: 500vw;
      .slider { width: 500vw; }
    }

    .slider-wrapper {
      position: relative;
      display: block;
      width: 100vw;
      height: 100vh;
      overflow: hidden;

      &.fixed {
        position: fixed;
        top: 0;
        left: 0;
      }

      &.docked {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        margin: 0;
        padding: 0;
        // background: red;

        .panel {
          width: 100vw;
          height: 100vh;
          display: inline-block;
          float: left;
          padding: 0 !important;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top center;
          background-attachment: fixed;

          .alignment {

            @include breakpoint(xlarge down) {
              position: relative;
              top: 50%;
              left: 0%;
              transform: translateY(-50%);
              // border: 10px dashed blue;
            }
          }
        }

        #ascyrus { background-image: url('../img/clients/ascyrus/homepage-bg.jpg'); }
        #kenkar { background-image: url('../img/clients/kenkar/homepage-bg.jpg'); }
      }
    }

    &.is-mobile {

      .slider-wrapper { overflow: visible; }
      .panel { display: block !important; }
      .slider {
        width: 100vw;
        height: auto;
        position: relative;
      }
      &.panels-1 { height: 100vh; }
      &.panels-2 { height: 200vh; }
      &.panels-3 { height: 300vh; }
      &.panels-4 { height: 400vh; }
      &.panels-5 { height: 500vh; }
    }

    .clients-label {
      position: absolute;
      top: 15%;
      left: 50%;
      z-index: 1;
      display: inline-block;
      @include transform(translateX(-50%));
      padding: 4px 12px;
      // text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      background: #fff;
    }

    .subheading {
      max-width: 100%;
    }
  }
}