#work.work {

  #landing {
    @include breakpoint(xlarge down) {
      padding-top: 0;
    }
  }

  h3 {
    font-weight: bold;
  }

  .client-logo {
    @include breakpoint(small) {
      margin-top: 3em;
      margin-bottom: 6em;
    }
  }

  .caret-anchor {
    margin-bottom: 4em;
  }
}